.allAuthorsPage{
    text-align: center;}
.authorsBlock {
    text-align: center;
}
.authorsBlock {
    margin: 10px auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
}
.authorsBlock a {
    position: absolute;
    margin: 0 0 0 0;
    display: block;
    text-decoration: none;
    font-size: 20px;
    width: 100px;
    height: 100px;
    color: black;

}

.authorsBlock a:hover,
.allAuthorsPage a:hover {
    background-color: white;
    color: #0d3f3f;
}

.authorsBlock h1 {
    color: black;
}

.authorsBlock p {
    margin: 10px;
    font-size: 20px;
    color: orangered;
}