.post {
    margin: 20px auto;
    padding: 10px 15px;
    width: 300px;
    border: 1px solid black;
    background-color: white;
}

.headPost {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: serif;
}

.headPost a {
    padding: 0 3px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: blue;
}

.profileDate {
    color: black;
}

.profileHeading {
    text-align: center;
    padding: 0 5px 5px;
    font-family: sans-serif;
}

.profileText {
    height: 80px;
    padding: 5px 10px;
    border: 1px solid black;
    word-wrap: break-word;
    overflow: hidden;
    background-color: white;
}

.blockPostButton {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.blockPostButton button {
    padding: 1px 3px;
    border: 1px solid black;
    width: 90px;
    background-color: lightgoldenrodyellow;
    color: black;
}

.editButton:hover {
    background-color: white;
    border-color: white;
}